*{
    padding: 0;
    margin: 0;
}

header{
    text-align: center;
    padding-block: 15px;
}

main{
    width: 90vw;
    border: 2px solid black;
    display: grid;
    margin: auto;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    background-color: rgb(128,102,106);
    color: white;
}

.contenedor{
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 100px, 200px, 200px, 50px;
    grid-gap: 10px 5px;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    /*grid-templates-areas:
        "header header header"
        "contenido contenido extra"
         "contenido contenido extra2"
         "footer footer footer*/

}

.contenedor > dir{
    background-color: cornflowerblue;
    border: 1px solid black ;

}

.item1{
    grid-column-start: 1;
    grid-column-end: 4;
}

.item2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
}

.item5{
    grid-column-start: 1;
    grid-column-end: -1;
    justify-content: start;
    align-content: start;
}